<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Spark API Test">
    <test name="Rest Client Test">
        <classes>
            <class name="org.apache.spark.history.client.SparkClientTest"/>
            <class name="org.apache.spark.history.client.SparkRestServiceTest" />
        </classes>
    </test>
</suite>